.float-right{
    float: right;
}

.font-weightBold{
    font-weight: bold;
}

#imgTransition {
    transition: transform .5s; 
}

#imgTransition:hover {
      transform: scale(1.5);
      cursor: zoom-in;
}