<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="cardStyle col-3 m-4" *ngFor="let tempPlant of plants">
            <a routerLink="/plants/{{ tempPlant.id }}">
                <img class="img-responsive mt-3 mainPlants" src="../../../{{ tempPlant.imageUrl }}"
                    alt="Augalas - {{ tempPlant.name }}" />
            </a>
            <a routerLink="/plants/{{ tempPlant.id }}">
                <p>{{ tempPlant.name }}</p>
            </a>
            <button class="btn btn-success alignLeft mb-3" type="button">
                Pridėti į krepšelį
            </button>
            <p class="alignRightBold">Kaina: 7.89€</p>
        </div>
        <div *ngIf="plants?.length == 0" class="alert alert-warning col-md-12 m-4">
            Pagal jūsų raktažodį - augalų nerasta
        </div>
    </div>
</div>