.absolute {
    position: relative;
    left: 280px;
    bottom: 100px;
}

.float-right{
    float: right;
}

.font-weightBold{
    font-weight: bold;
}

a {
    text-decoration: none;
}

#plant-name {
    color: rgb(0, 37, 17);
    text-shadow: 0 0 .1em, 0 0 .2em;
}

@media (max-width: 615px) {
    .displayNone {
        display: none !important;
    }
    .displayInline {
        display: inline !important;
    }
  }

  @media (min-width: 616px) {
    .displayInline {
        display: none;
    }
  }
  