<section class="intro">
    <div class="h-100" style="background-image: url('../../../../assets/images/Photos/plants-background.jpg');">
        <div class="d-flex align-items-center h-100">
            <form class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card cardColor">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <button type="button" class="btn btn-outline-success active">Užsakymų
                                                tvarkymas</button>
                                        </div>
                                        <div class="col-4">
                                            <button type="button" class="btn btn-outline-success">Produktų
                                                tvarkymas</button>
                                        </div>
                                        <div class="col-4">
                                            <button type="button" class="btn btn-outline-success">Naudotojų
                                                tvarkymas</button>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-xl-2 col-12">
                                            <button type="button" class="btn btn-outline-success active">Nauji
                                                užsakymai</button>
                                        </div>
                                        <div class="col-xl-2 col-12">
                                            <button type="button" class="btn btn-outline-success">Priimti
                                                užsakymai</button>
                                        </div>
                                        <div class="col-xl-2 col-12">
                                            <button type="button" class="btn btn-outline-success">Paruošti
                                                užsakymai</button>
                                        </div>
                                        <div class="col-xl-2 col-12">
                                            <button type="button" class="btn btn-outline-success">Baigti
                                                užsakymai</button>
                                        </div>
                                        <div class="col-xl-2 col-2">
                                            <button type="button" class="btn btn-outline-success">Atšaukti
                                                užsakymai</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3"></div>
                                <hr />
                                <div class="container">
                                    <div class="row">
                                        <div class="col-1 py-2">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault">
                                        </div>
                                        <div class="col-11 p-0">
                                            <mat-accordion>
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                            <span class="col-3 text-success">Nr. #842</span>
                                                            <span class="col-9 text-sucess">Naudotojas:
                                                                Slapyvardis</span>
                                                        </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <ul class="list-group mb-3 sticky-top">
                                                        <li
                                                            class="list-group-item d-flex justify-content-between lh-condensed">
                                                            <div>
                                                                <h3 class="my-0">kaz</h3>
                                                                <small class="text-muted">Produkto kiekis:</small>
                                                            </div>
                                                            <span class="text-muted"></span>
                                                        </li>
                                                        <li
                                                            class="list-group-item d-flex justify-content-between lh-condensed">
                                                            <div>
                                                                <h3 class="my-0"><b>Atsiėmimas parduotuvėje</b></h3>
                                                                <h4 class="my-0">Parduotuvės adresas: <b></b></h4>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-primary text-center">Keisti būseną</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>