<h1 class="text-center mt-2"><b>Apie Mus</b></h1>
<p>
    <b>augaluoaze.lt</b> – internetinė augalų parduotuvė yra augalų, internetinės prekybos lyderiai
    Lietuvoje bei viena didžiausių augalais
    prekiaujančių įmonių Lietuvoje ir Rytų Europoje. Dirbame tiesiogiai su augalų tiekėjais, importuojame
    prekes
    ir
    atstovaujame daliai gerai žinomų gamintojų ir prekių ženklų, arba juos perkame išskirtinėmis
    sąlygomis.
    Tai leidžia mus užtikrinti geriausias pirkimo kainas, dėl ko beveik visada galime pasiūlyti
    tinkamiausią
    produktą arba geriausią dominančios prekės kainą.
    <br><br>
    <b>Susisiekti su augaluoaze.lt galite:</b>
    <br>
    El. paštu: <b>info@augaluoaze.lt</b>
    <br>
    SKYPE: <b>augaluoaze.lt</b>
    <br>
    Kontaktiniais telefonais: <b>+370 666 66661</b>
    <br><br>
    Mes vykdome prekyba internetu www.augaluoaze.lt, o taip pat turime fizines parduotuves
    <b>Klaipėdoje</b> -
    Pylimo g. 48, <b>Šiauliuose</b> - Tilžės g. 114 ir <b>Vilniuje</b> - Šeimyniškių g. 31
    <br><br>
    <b>Fizinių parduotuvių darbo laikas:</b>
    <br>
    <b>Pirmadienis: </b> 08:00 - 17:00
    <br>
    <b>Antradienis: </b> 08:00 - 17:00
    <br>
    <b>Trečiadienis: </b> 08:00 - 17:00
    <br>
    <b>Ketvirtadienis: </b> 08:00 - 17:00
    <br>
    <b>Penktadienis </b> 10:00 - 19:00
    <br>
    <b>Šeštadienis: </b> 08:00 - 14:00
    <br>
    <b>Sekmadienis: </b> 08:00 - 14:00
</p>
<div class="container-fluid xl-border border-primary">
    <div class="row bg-warning text-center">
        <div class="col-xl-4 border border-dark order-1 order-xl-1">
            <p class="pt-3">Vilnius - Šeimyniškių g. 31</p>
        </div>
        <div class="col-xl-4 border border-dark order-3 order-xl-2">
            <p class="pt-3">Klaipėda - Pylimo g. 48</p>
        </div>
        <div class="col-xl-4 border border-dark order-5 order-xl-3">
            <p class="pt-3">Šiauliai - Tilžės g. 114</p>
        </div>
        <div class="col-xl-4 border  border-dark order-2 order-xl-4 mb-xl-0">
            <img class="img-fluid imgCity h-100 pb-1 pt-1" src="../../../assets/images/Photos/cities/Vilnius.png"
                alt="Vilniaus parduotuve">
        </div>
        <div class="col-xl-4 border   border-dark order-4 order-xl-5  mb-xl-0">
            <img class="img-fluid imgCity h-100 pb-1 pt-1" src="../../../assets/images/Photos/cities/Klaipeda.png"
                alt="Klaipedos parduotuve">
        </div>
        <div class="col-xl-4 border   border-dark order-5 order-xl-5  mb-xl-0">
            <img class="img-fluid imgCity h-100 pb-1 pt-1" src="../../../assets/images/Photos/cities/Siauliai.png"
                alt="Siauliu parduotuve">
        </div>
    </div>
</div>